/*--------------------------------------------------------------
# Portfolio Section
--------------------------------------------------------------*/
/* Portfolio Section */
#portfolio .container {
    margin-top: 3.3rem;
    background-color: rgba(3, 3, 3, 0.733);
    padding-bottom: 3rem;
    background: rgba(10, 10, 10, 0.9);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
#containerPortfolio{
  padding: 2rem;
}
.section-heading h2{
  font-family: "wire one", sans-serif!important;
  text-transform: u;
  font-size: 40px;
  color: #fff;
  margin-top: 0rem;
  margin-bottom: 3rem;
  border-bottom: #ec8f84 1px solid;
}
.section-heading i{
  font-size: 40px;
  color: #fff;
}

/* Portfolio Title */
#portfolio h2 {
  font-family: "Wire One", sans-serif;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-weight: 500;
  font-size: 40px;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeIn 1s ease-in-out forwards;
}
#portfolio .portfolio-item img {
  width: 350px;
  height: 300px;
  border-radius: 0px;
}
/* Blinking Star Animation */
@keyframes blinkStars {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0.3;
  }
  100% {
      opacity: 1;
  }
}
#portfolio .bi-stars{
  animation: blinkStars 1s infinite alternate ease-in-out;
  color: #ec8f84;
}

/*new*/
#portfolio .portfolio-item {
  max-width: 26rem;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 2rem ;
  overflow: hidden;
  opacity: 0;
  transform: translateY(30px);
  animation: fadeIn 0.8s ease-in-out forwards;
  animation-delay: 0.2s;
}
#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 3, 3, 0.733);
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease-in-out 0.25s;
}
#portfolio .portfolio-item .bi-plus-lg{
  font-size: 45px;
  color: #ff7675;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out, transform 0.2s;
}
#portfolio .portfolio-item .bi-plus-lg:hover {
    opacity: .5;
}

#portfolio
  .portfolio-item
  .portfolio-link
  .portfolio-hover
  .portfolio-hover-content {
  font-size: 2rem;
  color: white;
}
#portfolio .portfolio-item .portfolio-link:hover .portfolio-hover {
  opacity: 1;
}
/* #portfolio .portfolio-item .portfolio-caption {
  padding: 0.5rem;
  text-align: center;
  /* background-color: rgba(3, 3, 3, 0.733); /
} */
/* #portfolio .portfolio-item .portfolio-caption .portfolio-caption-heading {
  font-size: 1.5rem;
  font-family: "Wire one", sans-serif;
  font-weight: 400;
  margin-bottom: 0;
  font-size: 20px;
  color: #ec8f84;
}
#portfolio .portfolio-item .portfolio-caption .portfolio-caption-subheading {
  font-style: italic;
  font-family: "Wire one", sans-serif;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
} */
/* Responsive Design */
@media (max-width: 768px) {
  #portfolio .container {
    flex-wrap: wrap; /* Allows wrapping */
    justify-content: center; /* Centers content */
    gap: 10px; /* Adds spacing */
    margin-top: 5rem;
    margin-bottom: -1rem;
    padding-bottom: -2rem;
  
  }
  .page-section{
    width: 100%;
    margin: 0;
  }

  #portfolio .portfolio-item {
    flex: 1 1 auto; /* Allows dynamic resizing */
    min-width: 100%; /* Minimum width when resized */
    text-align: center;
    margin-top: -1rem;
  }

  #portfolio .portfolio-item img {
    width: 100%; /* Adjusts to parent size */
    height: 300px; /* Keeps aspect ratio */
    padding: 0;
    margin-bottom: 2rem ;
  }
  @media (max-width: 768px) {
    .portfolio-item {
      position: relative;
    }
  
    .portfolio-item::after {
      content: "Tap to view"; /* Message */
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      background: rgba(0, 0, 0, 0.7);
      color: #fff;
      padding: 5px 10px;
      font-size: 14px;
      border-radius: 5px;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
  
    .portfolio-item:active::after {
      opacity: 1; /* Show on tap */
    }
  }
  
  #portfolio h2 {
    font-size: 30px;
    text-align: center;
    border-bottom: none;
    width: 100%;
    font-family: "wire one", sans-serif;
    margin-bottom: -.40rem;
  }
}

/*Animation Keyframes*/
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Modal Animation */
.portfolio-modal .modal-dialog {
  padding-top: 3rem;
  margin: 1rem;
  max-width: 73%;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.portfolio-modal.show .modal-dialog {
  opacity: 1;
  transform: scale(1);
}

/* Modal Background and Content */
.portfolio-modal .modal-content {
  padding-top: 3rem;
  padding-bottom: 5rem;
  text-align: center;
  background-color: #000;
}

/* Title Animation */
.portfolio-modal .modal-content h2,
.portfolio-modal .modal-content .h2 {
  font-size: 50px;
  font-family: "Tangerine", sans-serif !important;
  color: #ec8f84;
  margin: 0%;
  opacity: 0;
  transform: translateY(-10px);
  animation: fadeInUp 0.5s ease-in-out forwards 0.2s;
}

/* Other Text */
.portfolio-modal .modal-content p.item-intro,
.portfolio-modal .modal-content p,
.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 2rem;
  color: #fff;
  opacity: 0;
  font-family: "Public Sans", sans-serif!important;
  font-size: 14px;
  transform: translateY(10px);
  animation: fadeInUp 0.5s ease-in-out forwards 0.3s;
}

/* Image Animation */
.portfolio-modal .modal-content img {
  margin-bottom: 2rem;
  width: 500px;
  height: auto;
  border: #b1aaa975 1px solid;
  opacity: 0;
  transform: scale(0.95);
  animation: fadeInScale 0.5s ease-in-out forwards 0.4s;
}

/* Carousel Images */
#portfolioModal4 #carouselExampleAutoplaying2 {
  margin-bottom: 2rem;
  width: auto;
  max-width: 600px;
  height: auto;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  transform: translateY(15px);
  animation: fadeInUp 0.5s ease-in-out forwards 0.4s;
}
#portfolioModal3 #carouselExampleAutoplaying {
  margin-bottom: 2rem;
  width: auto;
  max-width: 400px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  transform: translateY(15px);
  animation: fadeInUp 0.5s ease-in-out forwards 0.4s;
}
#portfolio .modal-body .carouselExampleAutoplaying .visually-hidden{
  color: #ec8f84;
}
#portfolioModal5 #carouselExampleControlsNoTouching,
#portfolioModal6 #carouselExampleAutoplaying3 {
  margin-bottom: 2rem;
  width: auto;
  max-width: 300px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  transform: translateY(15px);
  animation: fadeInUp 0.5s ease-in-out forwards 0.4s;
}
/* Glowing and Moving Effect on Hover */
.carousel-control-prev,
.carousel-control-next {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  transform: scale(1.1); /* Slightly enlarge */
  box-shadow: 0 0 15px rgba(236, 143, 132, 0.8); /* Glowy effect */
}

/* Additional Animation for a Smooth Movement Effect */
@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Apply Movement Animation on Hover */
.carousel-control-prev:hover {
  animation: moveLeft 0.5s ease-in-out infinite;
}

.carousel-control-next:hover {
  animation: moveRight 0.5s ease-in-out infinite;
}

 /* Close Button */
 .portfolio-modal .bi-x-lg{
  position: absolute;
  top: 1.5rem;
  right: 3.5rem;
  font-size: 38px;
  cursor: pointer;
  color: #ff7675;
  transition: opacity 0.3s ease-in-out, transform 0.2s;
}

.portfolio-modal .bi-x-lg:hover{
  opacity: 0.5;
  transform: rotate(90deg);
}

/* Button Animation */
.modal-body .btn-xl {
  background-color: #030303;
  color: #fff;
  border-radius: 0%;
  padding: 10px 20px;
  border: solid 1px #ec8f84;
  font-size: 14px;
  font-family: "wire one", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.modal-body .btn-xl:hover {
  background: #ec8f84;
  color: #fff;
  transform: scale(1.07);
  box-shadow: 0 0 12px rgba(236, 143, 132, 0.8);
}

/* Responsive Design */
@media (max-width: 768px) {
  .portfolio-modal .modal-dialog {
    max-width: 100%;
  }
  .portfolio-modal .modal-content img {
    width: 100%;
    height: auto;
  }
  .portfolio-modal .modal-content h2,
  .portfolio-modal .modal-content .h2 {
    font-size: 25px;
  }
  .portfolio-modal .bi-x-lg {
    top: 1rem;
    right: 2rem;
    font-size: 20px;
  }
}

/* Keyframe Animations */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

#portfolio h2,
#portfolio .portfolio-caption-heading,
#portfolio .portfolio-caption-subheading,
.portfolio-modal .modal-content h2,
.portfolio-modal .modal-content p,
.portfolio-modal .modal-content ul.list-inline,
.modal-body .btn-xl {
  font-family: "Bai Jamjuree", sans-serif;
}

/*-------------------------------------------------
#Certificate Section
---------------------------------------------------*/

.certificate-section {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.733); /* Darker for better contrast */
  margin-top: 2rem;
  background: rgba(10, 10, 10, 0.9);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-top: none;
  padding-top: 2rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.certificate-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.certificate-section h2 {
  font-size: 40px;
  margin-bottom: 2rem;
  font-weight: 500;
  color: #fff;
  font-family: "Wire one", sans-serif;
}
/* Responsive Grid Layout */
.certificate-container {
  display: flex;
  flex-wrap: wrap; /* Allows items to move to the next line */
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}
/* Blinking Star Animation */
@keyframes blinkStars {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0.3;
  }
  100% {
      opacity: 1;
  }
}
#certificate .bi-stars{
  animation: blinkStars 1s infinite alternate ease-in-out;
  color: #ec8f84;
}


/* Individual Certificate Styling */
.certificate-card {
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.certificate-card:hover {
  transform: scale(1.05);
}

/* Image Styling */
.certificate-card img {
  width: 400px;
  height: auto;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .certificate-section {
    padding: 1rem 1rem;
    margin-top: 2rem;
    width: 100%;
  }

  .certificate-section h2 {
    font-size: 1.8rem;
  }

  .certificate-container {
    width: 100%;  
  }

  .certificate-card img {
    width: 500px;
    height: auto;
  }
}

@media (max-width: 480px) {
  .certificate-section h2 {
    font-size: 1.5rem;
  }

  .certificate-container {
    grid-template-columns: 1fr;
  }

  .certificate-card {
    padding: 0;
  }

  .certificate-card img {
    width: 300px;
    height: auto;
  }
}

/*------------------------------------------------
 Modal for image portfolio 
 ----------------------------------------------*/
.modal {
  --bs-modal-zindex: 1055;
  --bs-modal-width: 500px;
  --bs-modal-padding: 1rem;
  --bs-modal-margin: 0.5rem;
  --bs-modal-color: ;
  --bs-modal-bg: #fff;
  --bs-modal-border-color: var(--bs-border-color-translucent);
  --bs-modal-border-width: 1px;
  --bs-modal-border-radius: 0.5rem;
  --bs-modal-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-modal-inner-border-radius: calc(0.5rem - 1px);
  --bs-modal-header-padding-x: 1rem;
  --bs-modal-header-padding-y: 1rem;
  --bs-modal-header-padding: 1rem 1rem;
  --bs-modal-header-border-color: var(--bs-border-color);
  --bs-modal-header-border-width: 1px;
  --bs-modal-title-line-height: 1.5;
  --bs-modal-footer-gap: 0.5rem;
  --bs-modal-footer-bg: ;
  --bs-modal-footer-border-color: var(--bs-border-color);
  --bs-modal-footer-border-width: 1px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--bs-modal-zindex);
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: var(--bs-modal-margin);
  pointer-events: none;
}
.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
}
@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    transition: none;
  }
}
.modal.show .modal-dialog {
  transform: none;
}
.modal.modal-static .modal-dialog {
  transform: scale(1.02);
}

.modal-dialog-scrollable {
  height: calc(100% - var(--bs-modal-margin) * 2);
}
.modal-dialog-scrollable .modal-content {
  max-height: 100%;
  overflow: hidden;
}
.modal-dialog-scrollable .modal-body {
  overflow-y: auto;
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - var(--bs-modal-margin) * 2);
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-color: var(--bs-modal-bg);
  background-clip: padding-box;
  border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
  border-radius: var(--bs-modal-border-radius);
  outline: 0;
}

.modal-backdrop {
  --bs-backdrop-zindex: 1050;
  --bs-backdrop-bg: #000;
  --bs-backdrop-opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--bs-backdrop-zindex);
  width: 100vw;
  height: 100vh;
  background-color: var(--bs-backdrop-bg);
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop.show {
  opacity: var(--bs-backdrop-opacity);
}

.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: var(--bs-modal-header-padding);
  border-bottom: var(--bs-modal-header-border-width) solid
    var(--bs-modal-header-border-color);
  border-top-left-radius: var(--bs-modal-inner-border-radius);
  border-top-right-radius: var(--bs-modal-inner-border-radius);
}
.modal-header .btn-close {
  padding: calc(var(--bs-modal-header-padding-y) * 0.5)
    calc(var(--bs-modal-header-padding-x) * 0.5);
  margin: calc(-0.5 * var(--bs-modal-header-padding-y))
    calc(-0.5 * var(--bs-modal-header-padding-x))
    calc(-0.5 * var(--bs-modal-header-padding-y)) auto;
}

.modal-title {
  margin-bottom: 0;
  line-height: var(--bs-modal-title-line-height);
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: var(--bs-modal-padding);
}

.modal-footer {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: calc(var(--bs-modal-padding) - var(--bs-modal-footer-gap) * 0.5);
  background-color: var(--bs-modal-footer-bg);
  border-top: var(--bs-modal-footer-border-width) solid
    var(--bs-modal-footer-border-color);
  border-bottom-right-radius: var(--bs-modal-inner-border-radius);
  border-bottom-left-radius: var(--bs-modal-inner-border-radius);
}
.modal-footer > * {
  margin: calc(var(--bs-modal-footer-gap) * 0.5);
}

@media (min-width: 576px) {
  .modal {
    --bs-modal-margin: 1.75rem;
    --bs-modal-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
  .modal-dialog {
    max-width: var(--bs-modal-width);
    margin-right: auto;
    margin-left: auto;
  }
  .modal-sm {
    --bs-modal-width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg,
  .modal-xl {
    --bs-modal-width: 800px;
  }
}
@media (min-width: 1200px) {
  .modal-xl {
    --bs-modal-width: 1140px;
  }
}
.modal-fullscreen {
  width: 100vw;
  max-width: none;
  height: 100%;
  margin: 0;
}
.modal-fullscreen .modal-content {
  height: 100%;
  border: 0;
  border-radius: 0;
}
.modal-fullscreen .modal-header,
.modal-fullscreen .modal-footer {
  border-radius: 0;
}
.modal-fullscreen .modal-body {
  overflow-y: auto;
}

@media (max-width: 575.98px) {
  .modal-fullscreen-sm-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-sm-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-sm-down .modal-header,
  .modal-fullscreen-sm-down .modal-footer {
    border-radius: 0;
  }
  .modal-fullscreen-sm-down .modal-body {
    overflow-y: auto;
  }
}
@media (max-width: 767.98px) {
  .modal-fullscreen-md-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-md-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-md-down .modal-header,
  .modal-fullscreen-md-down .modal-footer {
    border-radius: 0;
  }
  .modal-fullscreen-md-down .modal-body {
    overflow-y: auto;
  }
}
@media (max-width: 991.98px) {
  .modal-fullscreen-lg-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-lg-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-lg-down .modal-header,
  .modal-fullscreen-lg-down .modal-footer {
    border-radius: 0;
  }
  .modal-fullscreen-lg-down .modal-body {
    overflow-y: auto;
  }
}
@media (max-width: 1199.98px) {
  .modal-fullscreen-xl-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-xl-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-xl-down .modal-header,
  .modal-fullscreen-xl-down .modal-footer {
    border-radius: 0;
  }
  .modal-fullscreen-xl-down .modal-body {
    overflow-y: auto;
  }
}
@media (max-width: 1399.98px) {
  .modal-fullscreen-xxl-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-xxl-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-xxl-down .modal-header,
  .modal-fullscreen-xxl-down .modal-footer {
    border-radius: 0;
  }
  .modal-fullscreen-xxl-down .modal-body {
    overflow-y: auto;
  }
}
